.search-bar{
    width: 100%;
    padding: 20px;
    height: 100px;
    background-color: #203a43;
    text-align: center;
  }
  .search-bar label{
    color:white;
    font-size: 2rem;
  }

  .main{
    padding-right: 50px;
  }

  .search{
    font-family: 'Times New Roman';
    text-shadow: 0px 2px 4px black;
    font-weight: 600;
  }
  .search-bar input{
    width: 400px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    color: rgb(25, 26, 29);
    border: none;
    margin-left: 10px;
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Times New Roman';
  }
  .search-bar button{
    margin-left: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
    width: 100px;
    padding: 10px;
    cursor: pointer;
    border-radius: 40px;
    border: 2px solid white;
  }
  .search-bar button:hover{
    color: rgba(255, 68, 0, 0.796);
    background-color: white;
    border: 2px solid rgba(255, 68, 0, 0.796);
  }
  .link1{
    color: white;
  }
  .search-bar button:hover .link1{
    color:rgba(255, 68, 0, 0.796); ;
  }